<div id="<%= dom_id lab_test %>">
  <p>
    <strong>User:</strong>
    <%= lab_test.user_id %>
  </p>

  <p>
    <strong>Biomarker:</strong>
    <%= lab_test.biomarker_id %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= lab_test.value %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= lab_test.unit %>
  </p>

  <p>
    <strong>Reference range:</strong>
    <%= lab_test.reference_range_id %>
  </p>

  <p>
    <strong>Recordable type:</strong>
    <%= lab_test.recordable_type %>
  </p>

  <p>
    <strong>Recordable:</strong>
    <%= lab_test.recordable_id %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= lab_test.notes %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= lab_test.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= lab_test.updated_at %>
  </p>

</div>
