<div id="<%= dom_id health_record %>">
  <p>
    <strong>User:</strong>
    <%= health_record.user_id %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= health_record.notes %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= health_record.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= health_record.updated_at %>
  </p>

</div>
