<div id="<%= dom_id measurement %>">
  <p>
    <strong>User:</strong>
    <%= measurement.user_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= measurement.measurement_type %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= measurement.value %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= measurement.source %>
  </p>

  <p>
    <strong>Recordable type:</strong>
    <%= measurement.recordable_type %>
  </p>

  <p>
    <strong>Recordable:</strong>
    <%= measurement.recordable_id %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= measurement.notes %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= measurement.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= measurement.updated_at %>
  </p>

</div>
