<div id="<%= dom_id user %>" class="tw-border-double tw-shadow-lg tw-ring-4 tw-rounded-lg">
  <div class="tw-m-8 tw-py-4">

    <p class="tw-pt-2 tw-pr-6">
      <strong>User Name:</strong>
      <%= user.full_name %>
    </p>

    <p class="tw-pt-2 tw-pr-6">
      <strong>Email:</strong>
      <%= user.email %>
    </p>
    
    <p class="tw-pt-2 tw-pr-6">
      <strong>Role:</strong>
      <%= get_user_roles_list_as_string user %>
    </p>

    <p class="tw-pt-2 tw-pr-6">
      <strong>Created at:</strong>
      <%= format_date_with_time user.created_at %>
    </p>

    <p class="tw-pt-2 tw-pr-6">
      <strong>Updated at:</strong>
      <%= format_date_with_time user.updated_at %>
    </p>

  </div>

</div>
