<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand tw-w-10 tw-h-10" href="/">
      <%= image_tag("logo.png", alt: "Logo") %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% %>
          <%= link_to "Health records", health_records_path, class: "nav-link #{current_page?(health_records_path) ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Lab tests", lab_tests_path, class: "nav-link #{current_page?(lab_tests_path) ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Measurements", measurements_path, class: "nav-link #{current_page?(measurements_path) ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Biomarkers", biomarkers_path, class: "nav-link #{current_page?(biomarkers_path) ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
          <% if current_user&.admin? %>
            <%= link_to "Users", admin_users_path, class: "nav-link #{current_page?(admin_users_path) ? 'active' : ''}" %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if assigned_users? %>
            <div class="flex justify-end mb-1">
              <%= form_with url: switch_user_admin_user_path(current_user), method: :post do |form| %>
                <%= form.select :user_id,
                                options_for_select(
                                  assigned_users_list_for_select(current_user, current_user),
                                  @chosen_user_id
                                ),
                                { include_blank: false },
                                class: "tw-border-blue-500 rounded"
                %>
                <%= form.submit "Switch client", class: "tw-bg-blue-500 tw-hover:bg-blue-700 tw-text-white tw-font-bold tw-py-2 tw-px-4 tw-rounded" %>
              <% end %>
            </div>
          <% end %>
        </li>
      </ul>
      <% if user_signed_in? %>
        <span> Welcome <%= current_user.full_name %> </span>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-primary", form_class: "sign-out-button" %>
      <% else %>
        <%= button_to "Sign in", new_user_session_path, class: "btn btn-success" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-success" %>
      <% end %>
    </div>
  </div>
</nav>